.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Buttons{
    display: flex;
    flex-wrap: wrap;
    /* width: 30%; */
    justify-content: center;
    
}